@use 'modules';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: modules.$light-color;
  font-family: modules.$font-stack;
  line-height: 1.6;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}
.showcase {
  @include modules.set-background(modules.$primary-color);
  height: 600px;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      list-style-type: none;
    }

    li {
      padding: 15px;
    }

    a {
      color: modules.set-text-color(modules.$primary-color);
    }

    a:hover {
      color: modules.$secondary-color;
    }
  }
  &-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    img {
      width: 50%;
    }

    h1 {
      font-size: 50px;
      line-height: 1.2;
    }

    p {
      margin: 20px 0;
    }
  }
}
